@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  :root {
    --primary-cyan: 172deg 67% 45%;
    --dark-cyan: 183deg 100% 15%;
    --dark-grayish-cyan: 186deg 14% 43%;
    --grayish-cyan: 184deg 14% 56%;
    --light-grayish-cyan: 185deg 41% 84%;
    --very-light-grayish-cyan: 189deg 41% 97%;
  }
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
